.gal-4 {border:1px solid #eee;background-color:#f2f2f2;padding:10px;}
.gal-4 table {width:100%;border-collapse:collapse;}
.gal4-av {padding:10px;background:#fff;height:320px;border:1px solid #eee;width:200px;}
.gal4-av img {width:100%;}
.gal4-mid {background:#fff;height:310px;border:1px solid #eee;padding:15px 20px;width:270px;}
.g4-i {width:255px;border-bottom:1px solid #eee;color:#948746;font-family:'Catamaran';text-transform:uppercase;padding:10px 0px;height:14px;margin:0px 0px;font-weight:900;}
.g4-i g {float:right;font-family:initial;text-transform:lowercase;margin-top:-3px;color:initial;font-weight:100;}
.g4-rp {margin-top:15px;height:125px;padding-right:8px;overflow:auto;}
.gal4-right {background:#fff;height:320px;border:1px solid #eee;padding:10px;width:190px;}
.gal4-gif {width:150px;height:150px;padding:20px;border:1px solid #eee;}
.gal4-gifin {width:150px;height:150px;background-size:cover;}
.gal4-death {background:#f2f2f2;width:190px;height:95px;padding:10px 0px;border:1px solid #eee;margin:10px 0 0 0;}
.gal4-end {text-align:center;font-family:'Catamaran';text-transform:uppercase;font-size:15px;margin:5px 0;color:#6b7dca;}
.gal4-epitaphe {text-align:center;font-size:11px;padding-top:5px;}
.gal4-bot {background:#fff;height:60px;width:733px;padding:10px;border:1px solid #eee;}
.gal4-links {display:inline-block;float:left;}
.gal4-l {font-size:30px;display:inline-block;width:30px;height:30px;margin-right:7px;border:1px solid #eee;padding:15px;text-align:center;}
.gal4-l:hover i {color:#213689;}
.gal4-l i {color:#6b7dca;}
.gal4-name {display:inline-block;font-family:'Catamaran';text-transform:uppercase;color:#213689;font-weight:900;font-size:25px;float:right;width:350px;text-align:right;padding:15px 15px 5px;border-bottom:1px solid #eee;margin-right:-10px;}
